# .gitgnore: Job Postings E-mail/Contact extractions in regions with devtools in custom browser & http-requests.
#http-protocol.reg: ;Registry default file format to setup default http protocol for WindowsXP+ OS hierarchical database structures     	

http-protocol.reg