# .gitgnore: ignore setup config. in file <http-protocol.reg>: Registry default file format to setup default HTTP protocol for Windows to process HTTP requests in repo and therefore do Regions/E-mail/Contact Job Posting mining in real time.    	
http-protocol.reg
upload-json-gists.txt


